
      body {
      background-image: url('https://images.pexels.com/photos/18102309/pexels-photo-18102309.jpeg');
      background-size: cover;
      background-position: center;
      margin: 0; /* Remove default margin */
      padding: 0; /* Remove default padding */
      height: 100vh; /* Ensure the background covers the entire viewport height */
    }
  

